// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #A64AC9;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #FCCD04;
$green: #38c172;
$teal: #49c5b6;
$cyan: #6cb2eb;
$purple: #7F2C95;
$brown: #584E4A;
$whitey: #f0f0f0;
$text: #212529;
$peach: #FFB48F;
$offwhite: #FEFEFA;


$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);
