// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$purple: #7F2C95;
$brown: #584E4A;
$whitey: #f0f0f0;
$text: #212529;

$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

.dropdown-toggle::after {
    border: 0;
}


.main-nav-link, .dropdown-item {
    color: $brown;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;

    &:before,
    &:after {
        content: '';
        position: absolute;
        bottom: 2px;
        left: 0; right: 0;
        height: 2px;
        background-color: $purple;
    }
    &:before {
        opacity: 0;
        transform: translateY(- $distance);
        transition: transform 0s $easeOutBack, opacity 0s;
    }
    &:after {
        opacity: 0;
        transform: translateY($distance/2);
        transition: transform $duration $easeOutBack, opacity $duration;
    }
    &:hover,
    &:focus {
        &:before,
        &:after {
            opacity: 1;
            transform: translateY(0);
        }
        &:before {
            transition: transform $duration $easeOutBack, opacity $duration;
        }
        &:after {
            transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
        }
    }
}

.nav-link:before, .nav-link:after, .dropdown-item:before, .dropdown-item:after {
    width: 90%;
    margin: 0 auto;
}

.navbar-nav .account-dropdown .caret {
    display: inline-block !important;
    margin-left: .255em !important;
    vertical-align: .255em !important;
    content: "" !important;
    border-top: .3em solid !important;
    border-right: .3em solid transparent !important;
    border-bottom: 0 !important;
    border-left: .3em solid transparent !important;
}

.nav-item {
    .active {
        background-color: white;
        color: $text;
        &:before {
            opacity: 1;
            transform: none;
        }

        &:after {
            opacity: 1;
            transform: none;
        }
    }
}
